---
layout: base.liquid
---

<main class="flex flex-col space-y-4">
  <h1
    class="mx-auto text-3xl lg:text-4xl font-bold text-gray-900 border-b-2 border-b-emerald-400"
  >
    Latest Posts
  </h1>
  <ul class="mx-auto divide-y divide-slate-200">
    {%- for post in collections.posts -%}
    <li class="py-6">
      <div>
        <a href="{{ post.url }}" class="group"
          ><div>
            <span
              class="group-hover:underline text-lg md:text-xl font-semibold"
              >{{ post.data.title }}</span
            >
            <div>{{ post.data.description }}</div>
          </div></a
        >
        <div class="flex flex-col leading-5">
          <em>{{ post.data.publishedDate | cleanDate }}</em>
          <em>By: {{ post.data.author | default: "George Rodier" }}</em>
        </div>
      </div>
    </li>
    {%- endfor -%}
  </ul>
</main>
